@if (kpi()) {
  <div class="bg-white rounded-lg shadow p-4 flex items-center justify-between">
    <div>
      <p class="text-xs text-gray-500 font-medium">{{ kpi().title }}</p>
      <p class="text-xl font-bold text-gray-800">{{ kpi().value }}</p>
    </div>
    <div class="rounded-full p-2" [class]="getIconWrapperClass(kpi().icon)">
      @switch (kpi().icon) {
        @case ('vendas-internet') {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.128 19.825a1.586 1.586 0 01-1.243.804H5.468c-.996 0-1.785-.933-1.464-1.852l1.405-4.214a1.586 1.586 0 011.243-.804h1.43c.996 0 1.785.933 1.464 1.852l-1.405 4.214z" /><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.872 19.825a1.586 1.586 0 01-1.243.804h-1.43c-.996 0-1.785-.933-1.464-1.852l1.405-4.214a1.586 1.586 0 011.243-.804h1.43c.996 0 1.785.933 1.464 1.852l-1.405 4.214z" /><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 11.732V17.5m0-13.433V4.002" /></svg>
        }
        @case ('vendas-movel') {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" /></svg>
        }
        @case ('efetivadas-internet') {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" /></svg>
        }
        @case ('efetivadas-movel') {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
        }
        @case ('investment') {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v.01" /></svg>
        }
        @case ('leads') {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0z" /></svg>
        }
        @case ('custo-lead') {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 8l3 5m0 0l3-5m-3 5v4m-3-5h6m-6 3h6m6-3a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        }
        @case ('conversao') {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" /></svg>
        }
      }
    </div>
  </div>
}